In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [2]:
#!pip install psycopg2-binary

In [3]:
#!pip install psycopg2

In [4]:
from sqlalchemy import create_engine, text

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [6]:
database_name = 'Prescribers'    # Fill this in with your prescribers database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

Now, we need to create an engine and use it to connect.

In [8]:
engine = create_engine(connection_string)

sqlalchemy works well with pandas to convert query results into dataframes.

In [10]:
import pandas as pd

First, let's write a meaningful query.

In [38]:
prescriber_query = 'SELECT * FROM prescriber'

Now, bring it all together using the following syntax.

In [40]:
with engine.connect() as connection:
    prescriber_df = pd.read_sql(text(query), con = connection)

prescriber_df.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243,0001,TN,US,Nurse Practitioner,S,N
1,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,37919,2333,TN,US,Pulmonary Disease,S,E
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,37043,4605,TN,US,Family Practice,S,E
3,1.003014e+09,OTTO,ROBERT,J,M.D.,M,I,2400 PATTERSON STREET SUITE 100,None,NASHVILLE,37203,2786,TN,US,Orthopedic Surgery,S,E
4,1.003018e+09,TODD,JOSHUA,W,M.D.,M,I,1819 W CLINCH AVE,SUITE 108,KNOXVILLE,37916,2435,TN,US,Cardiology,S,E

In [102]:
prescription_query = 'SELECT * FROM prescription'

In [104]:
with engine.connect() as connection:
    prescription_df = pd.read_sql(text(prescription_query), con = connection)

prescription_df.head()

,npi,drug_name,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,1.427076e+09,RALOXIFENE HCL,NaN,18.0,28.0,840.0,1009.66,NaN,*,18.0,None,28.0,840.0,1009.66
1,1.003858e+09,GLIMEPIRIDE,NaN,12.0,16.0,480.0,270.86,NaN,*,NaN,*,NaN,NaN,NaN
2,1.184627e+09,TAMSULOSIN HCL,NaN,14.0,24.0,698.0,353.62,NaN,#,NaN,#,NaN,NaN,NaN
3,1.306111e+09,SPIRIVA,NaN,13.0,13.0,390.0,4783.28,NaN,*,NaN,*,NaN,NaN,NaN
4,1.285658e+09,SPIRIVA,NaN,13.0,13.0,390.0,4855.95,NaN,#,NaN,#,NaN,NaN,NaN

In [46]:
drug_query = 'SELECT * FROM drug'

In [48]:
with engine.connect() as connection:
    drug_df = pd.read_sql(text(drug_query), con = connection)

drug_df.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
0,1ST TIER UNIFINE PENTIPS,"PEN NEEDLE, DIABETIC",N,N,N,N
1,1ST TIER UNIFINE PENTIPS PLUS,"PEN NEEDLE, DIABETIC",N,N,N,N
2,ABACAVIR,ABACAVIR SULFATE,N,N,N,N
3,ABACAVIR-LAMIVUDINE,ABACAVIR SULFATE/LAMIVUDINE,N,N,N,N
4,ABACAVIR-LAMIVUDINE-ZIDOVUDINE,ABACAVIR/LAMIVUDINE/ZIDOVUDINE,N,N,N,N

In [68]:
zip_fips_query = 'SELECT * FROM zip_fips'

In [70]:
with engine.connect() as connection:
    zip_fips_df = pd.read_sql(text(zip_fips_query), con = connection)

zip_fips_df.head()

     zip fipscounty  res_ratio  bus_ratio  oth_ratio  tot_ratio
0  00501      36103   0.000000    1.00000   0.000000   1.000000
1  00601      72113   0.160724    0.20098   0.128834   0.162500
2  00601      72001   0.839276    0.79902   0.871166   0.837500
3  00602      72003   1.000000    0.99880   1.000000   0.999919
4  00602      72005   0.000000    0.00120   0.000000   0.000081

In [76]:
fips_county_query = 'SELECT * FROM fips_county'

In [80]:
with engine.connect() as connection:
    fips_county_df = pd.read_sql(text(fips_county_query), con = connection)

fips_county_df.head()

    county state fipscounty fipsstate
0  AUTAUGA    AL      01001        01
1  BALDWIN    AL      01003        01
2  BARBOUR    AL      01005        01
3     BIBB    AL      01007        01
4   BLOUNT    AL      01009        01

In [72]:
overdose_query = 'SELECT * FROM overdose_deaths'

In [74]:
with engine.connect() as connection:
    overdose_df = pd.read_sql(text(overdose_query), con = connection)

overdose_df.head()

   overdose_deaths  year  fipscounty
0              135  2015       47157
1              150  2016       47157
2              159  2017       47157
3              123  2018       47157
4              122  2015       47093

In [66]:
drug_df_opioid = drug_df[drug_df['opioid_drug_flag']=='Y']

In [118]:
prescriber_prescription_drugs_df = prescriber_df.merge(prescription_df, on='npi').merge(drug_df,on='drug_name')
prescriber_prescription_drugs_df

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,...,32.0,None,34.0,620.0,383.12,CALCITRIOL,N,N,N,N
1,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,...,11.0,None,21.0,522.0,163.02,ALLOPURINOL,N,N,N,N
2,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,30.0,None,30.0,900.0,13195.05,FLUTICASONE/SALMETEROL,N,N,N,N
3,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,NaN,*,NaN,NaN,NaN,AZITHROMYCIN,N,N,Y,N
4,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,27.0,None,29.0,870.0,10602.62,TIOTROPIUM BROMIDE,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705010,1.992996e+09,GILES,WESLEY,H,MD,M,I,979 E 3RD ST STE 300,None,CHATTANOOGA,...,NaN,#,NaN,NaN,NaN,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N
705011,1.992996e+09,GILES,WESLEY,H,MD,M,I,979 E 3RD ST STE 300,None,CHATTANOOGA,...,89.0,None,97.0,2910.0,1010.50,LEVOTHYROXINE SODIUM,N,N,N,N
705012,1.993000e+09,THOMAS,SHELIA,K,"RN, APN",F,I,6266 POPLAR AVE,None,MEMPHIS,...,19.0,None,19.0,570.0,292.28,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N
705013,1.993000e+09,THOMAS,SHELIA,K,"RN, APN",F,I,6266 POPLAR AVE,None,MEMPHIS,...,0.0,None,0.0,0.0,0.00,OXYCODONE HCL/ACETAMINOPHEN,Y,N,N,N
705014,1.993000e+09,THOMAS,SHELIA,K,"RN, APN",F,I,6266 POPLAR AVE,None,MEMPHIS,...,NaN,*,NaN,NaN,NaN,GABAPENTIN,N,N,N,N

In [120]:
ppd_opioid_df = prescriber_prescription_drugs_df[prescriber_prescription_drugs_df['opioid_drug_flag']=='Y']

In [108]:
prescription_drug_df = pd.merge(prescription_df, drug_df, on= 'drug_name', how='left')
prescription_drug_df

,npi,drug_name,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
0,1.427076e+09,RALOXIFENE HCL,NaN,18.0,28.0,840.0,1009.66,NaN,*,18.0,None,28.0,840.0,1009.66,RALOXIFENE HCL,N,N,N,N
1,1.003858e+09,GLIMEPIRIDE,NaN,12.0,16.0,480.0,270.86,NaN,*,NaN,*,NaN,NaN,NaN,GLIMEPIRIDE,N,N,N,N
2,1.184627e+09,TAMSULOSIN HCL,NaN,14.0,24.0,698.0,353.62,NaN,#,NaN,#,NaN,NaN,NaN,TAMSULOSIN HCL,N,N,N,N
3,1.306111e+09,SPIRIVA,NaN,13.0,13.0,390.0,4783.28,NaN,*,NaN,*,NaN,NaN,NaN,TIOTROPIUM BROMIDE,N,N,N,N
4,1.285658e+09,SPIRIVA,NaN,13.0,13.0,390.0,4855.95,NaN,#,NaN,#,NaN,NaN,NaN,TIOTROPIUM BROMIDE,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705010,1.336170e+09,PROMETHAZINE HCL,NaN,11.0,11.0,56.0,62.82,NaN,*,NaN,*,NaN,NaN,NaN,PROMETHAZINE HCL,N,N,N,N
705011,1.679676e+09,RANITIDINE HCL,53.0,178.0,426.0,12760.0,2860.16,NaN,#,NaN,#,NaN,NaN,NaN,RANITIDINE HCL,N,N,N,N
705012,1.265588e+09,DIAZEPAM,16.0,48.0,48.0,1425.0,253.49,NaN,*,14.0,None,14.0,420.0,55.49,DIAZEPAM,N,N,N,N
705013,1.144212e+09,RAMIPRIL,NaN,38.0,90.0,2700.0,627.50,NaN,#,NaN,#,NaN,NaN,NaN,RAMIPRIL,N,N,N,N
705014,1.205923e+09,ATENOLOL,11.0,36.0,108.0,3240.0,396.79,NaN,#,NaN,#,NaN,NaN,NaN,ATENOLOL,N,N,N,N

In [112]:
prescription_drug_opioid_df = prescription_drug_df[prescription_drug_df['opioid_drug_flag']=='Y']

,npi,drug_name,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
51,1.659798e+09,OXYCODONE-ACETAMINOPHEN,102.0,525.0,525.0,15538.0,27665.43,43.0,None,245.0,None,245.0,7290.0,12245.28,OXYCODONE HCL/ACETAMINOPHEN,Y,N,N,N
70,1.003955e+09,HYDROCODONE-ACETAMINOPHEN,14.0,79.0,79.0,2273.0,626.75,NaN,*,NaN,*,NaN,NaN,NaN,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N
231,1.487942e+09,HYDROCODONE-ACETAMINOPHEN,NaN,12.0,12.0,161.0,154.58,NaN,*,NaN,*,NaN,NaN,NaN,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N
241,1.295730e+09,TRAMADOL HCL,NaN,26.0,26.0,657.0,112.66,NaN,#,NaN,#,NaN,NaN,NaN,TRAMADOL HCL,Y,N,N,N
265,1.316100e+09,HYDROCODONE-ACETAMINOPHEN,11.0,12.0,12.0,29.0,53.25,NaN,*,NaN,*,NaN,NaN,NaN,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
704974,1.700890e+09,HYDROCODONE-ACETAMINOPHEN,115.0,664.0,664.0,15357.0,13706.83,74.0,None,381.0,None,381.0,9209.0,7686.27,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N
704977,1.134383e+09,OXYCODONE-ACETAMINOPHEN,19.0,77.0,77.0,2094.0,3812.77,NaN,#,52.0,None,52.0,1389.0,2070.62,OXYCODONE HCL/ACETAMINOPHEN,Y,N,N,N
704983,1.558546e+09,OXYCODONE-ACETAMINOPHEN,14.0,22.0,22.0,171.0,374.86,NaN,*,NaN,*,NaN,NaN,NaN,OXYCODONE HCL/ACETAMINOPHEN,Y,N,N,N
705001,1.942324e+09,OXYCODONE-ACETAMINOPHEN,NaN,13.0,13.0,355.0,495.20,0.0,None,0.0,None,0.0,0.0,0.00,OXYCODONE HCL/ACETAMINOPHEN,Y,N,N,N
705006,1.083002e+09,OXYCODONE-ACETAMINOPHEN,15.0,28.0,28.0,494.0,1060.47,NaN,#,NaN,#,NaN,NaN,NaN,OXYCODONE HCL/ACETAMINOPHEN,Y,N,N,N

For much more information about SQLAlchemy and to see a more â€œPythonicâ€ way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python