In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [243]:
#!pip install psycopg2-binary

In [244]:
#!pip install psycopg2

In [245]:
from sqlalchemy import create_engine, text

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [247]:
database_name = 'prescribers'    # Fill this in with your prescribers database name

connection_string = f"postgresql://postgres:Govols#23@localhost:5432/{database_name}"

Now, we need to create an engine and use it to connect.

In [249]:
engine = create_engine(connection_string)

sqlalchemy works well with pandas to convert query results into dataframes.

In [251]:
import pandas as pd

First, let's write a meaningful query.

In [253]:
query = 'SELECT * FROM prescriber'

Now, bring it all together using the following syntax.

In [255]:
with engine.connect() as connection:
    provider = pd.read_sql(text(query), con = connection)

provider.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243,0001,TN,US,Nurse Practitioner,S,N
1,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,37919,2333,TN,US,Pulmonary Disease,S,E
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,37043,4605,TN,US,Family Practice,S,E
3,1.003014e+09,OTTO,ROBERT,J,M.D.,M,I,2400 PATTERSON STREET SUITE 100,None,NASHVILLE,37203,2786,TN,US,Orthopedic Surgery,S,E
4,1.003018e+09,TODD,JOSHUA,W,M.D.,M,I,1819 W CLINCH AVE,SUITE 108,KNOXVILLE,37916,2435,TN,US,Cardiology,S,E

In [256]:
opioid_df = people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54181 entries, 0 to 54180
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   zip         54181 non-null  object
 1   fipscounty  54181 non-null  object
 2   res_ratio   54181 non-null  float64
 3   bus_ratio   54181 non-null  float64
 4   oth_ratio   54181 non-null  float64
 5   tot_ratio   54181 non-null  float64
dtypes: float64(4), object(2)
memory usage: 2.5+ MB

In [257]:
query_2 = 'SELECT * FROM drug'

In [304]:
with engine.connect() as connection:
    opioid = pd.read_sql(text(query_2), con = connection)
    opioid_located = opioid.loc[opioid["opioid_drug_flag"] == 'Y']
opioid.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
0,1ST TIER UNIFINE PENTIPS,"PEN NEEDLE, DIABETIC",N,N,N,N
1,1ST TIER UNIFINE PENTIPS PLUS,"PEN NEEDLE, DIABETIC",N,N,N,N
2,ABACAVIR,ABACAVIR SULFATE,N,N,N,N
3,ABACAVIR-LAMIVUDINE,ABACAVIR SULFATE/LAMIVUDINE,N,N,N,N
4,ABACAVIR-LAMIVUDINE-ZIDOVUDINE,ABACAVIR/LAMIVUDINE/ZIDOVUDINE,N,N,N,N

In [259]:
query_3 = 'SELECT * FROM prescription'

In [306]:
with engine.connect() as connection:
    people = pd.read_sql(text(query_3), con = connection)
    people_sorted = people.sort_values("total_claim_count", ascending=False)
    people_sorted.head()

In [261]:
query_4 = 'SELECT * FROM zip_fips'

In [308]:
with engine.connect() as connection:
    location = pd.read_sql(text(query_4), con = connection)

location.head()

     zip fipscounty  res_ratio  bus_ratio  oth_ratio  tot_ratio
0  00501      36103   0.000000    1.00000   0.000000   1.000000
1  00601      72113   0.160724    0.20098   0.128834   0.162500
2  00601      72001   0.839276    0.79902   0.871166   0.837500
3  00602      72003   1.000000    0.99880   1.000000   0.999919
4  00602      72005   0.000000    0.00120   0.000000   0.000081

In [310]:
with engine.connect() as connection:
    frames = [provider,location]
    combo_df = pd.merge(provider,people, on ='npi', how='left')
combo_df.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,...,34.0,620.0,383.12,NaN,*,32.0,None,34.0,620.0,383.12
1,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,...,32.0,852.0,276.87,NaN,*,11.0,None,21.0,522.0,163.02
2,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,30.0,900.0,13195.05,NaN,*,30.0,None,30.0,900.0,13195.05
3,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,13.0,359.0,252.30,NaN,*,NaN,*,NaN,NaN,NaN
4,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,29.0,870.0,10602.62,NaN,*,27.0,None,29.0,870.0,10602.62

In [318]:
frames = [opioid,people]
combo_2 = pd.merge(opioid,people, on ='drug_name', how='left')
op_df = combo_2.loc[combo_2["opioid_drug_flag"] == 'Y']
op_df_sorted = op_df.sort_values('total_claim_count', ascending = False)
op_df_sorted.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag,npi,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
495804,OXYCODONE HCL,OXYCODONE HCL,Y,N,N,N,1.912012e+09,467.0,4538.0,4538.9,66209.0,81256.66,141.0,None,1402.0,None,1402.9,20646.0,24565.20
289326,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N,1.912012e+09,415.0,3376.0,3376.0,49291.0,45346.03,146.0,None,1051.0,None,1051.0,16086.0,14500.39
497877,OXYCODONE HCL,OXYCODONE HCL,Y,N,N,N,1.861892e+09,387.0,2977.0,2979.0,85191.0,104730.89,116.0,None,909.0,None,911.0,26430.0,34974.41
495689,OXYCODONE HCL,OXYCODONE HCL,Y,N,N,N,1.447608e+09,584.0,2813.0,2813.0,84001.0,91601.73,148.0,None,753.0,None,753.0,22324.0,24143.54
496837,OXYCODONE HCL,OXYCODONE HCL,Y,N,N,N,1.346389e+09,222.0,2478.0,2478.0,59252.0,64897.00,21.0,None,229.0,None,229.0,5902.0,7123.46

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python