In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [23]:
#!pip install psycopg2-binary

In [25]:
#!pip install psycopg2

In [27]:
from sqlalchemy import create_engine, text

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [30]:
database_name = 'prescribers'    # Fill this in with your prescribers database name

connection_string = f"postgresql://postgres:Govols#23@localhost:5432/{database_name}"

Now, we need to create an engine and use it to connect.

In [33]:
engine = create_engine(connection_string)

sqlalchemy works well with pandas to convert query results into dataframes.

In [36]:
import pandas as pd

First, let's write a meaningful query.

In [39]:
query = 'SELECT * FROM prescriber'

Now, bring it all together using the following syntax.

In [42]:
with engine.connect() as connection:
    provider = pd.read_sql(text(query), con = connection)

provider.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243,0001,TN,US,Nurse Practitioner,S,N
1,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,37919,2333,TN,US,Pulmonary Disease,S,E
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,37043,4605,TN,US,Family Practice,S,E
3,1.003014e+09,OTTO,ROBERT,J,M.D.,M,I,2400 PATTERSON STREET SUITE 100,None,NASHVILLE,37203,2786,TN,US,Orthopedic Surgery,S,E
4,1.003018e+09,TODD,JOSHUA,W,M.D.,M,I,1819 W CLINCH AVE,SUITE 108,KNOXVILLE,37916,2435,TN,US,Cardiology,S,E

In [46]:
query_2 = 'SELECT * FROM drug'

In [48]:
with engine.connect() as connection:
    opioid = pd.read_sql(text(query_2), con = connection)
    opioid_located = opioid.loc[opioid["opioid_drug_flag"] == 'Y']
opioid.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
0,1ST TIER UNIFINE PENTIPS,"PEN NEEDLE, DIABETIC",N,N,N,N
1,1ST TIER UNIFINE PENTIPS PLUS,"PEN NEEDLE, DIABETIC",N,N,N,N
2,ABACAVIR,ABACAVIR SULFATE,N,N,N,N
3,ABACAVIR-LAMIVUDINE,ABACAVIR SULFATE/LAMIVUDINE,N,N,N,N
4,ABACAVIR-LAMIVUDINE-ZIDOVUDINE,ABACAVIR/LAMIVUDINE/ZIDOVUDINE,N,N,N,N

In [50]:
query_3 = 'SELECT * FROM prescription'

In [52]:
with engine.connect() as connection:
    people = pd.read_sql(text(query_3), con = connection)
    people_sorted = people.sort_values("total_claim_count", ascending=False)
    people_sorted.head()

In [53]:
query_4 = 'SELECT * FROM zip_fips'

In [54]:
with engine.connect() as connection:
    location = pd.read_sql(text(query_4), con = connection)

location.head()

     zip fipscounty  res_ratio  bus_ratio  oth_ratio  tot_ratio
0  00501      36103   0.000000    1.00000   0.000000   1.000000
1  00601      72113   0.160724    0.20098   0.128834   0.162500
2  00601      72001   0.839276    0.79902   0.871166   0.837500
3  00602      72003   1.000000    0.99880   1.000000   0.999919
4  00602      72005   0.000000    0.00120   0.000000   0.000081

In [55]:
with engine.connect() as connection:
    frames = [provider,location]
    combo_df = pd.merge(provider,people, on ='npi', how='inner')
combo_df.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,...,34.0,620.0,383.12,NaN,*,32.0,None,34.0,620.0,383.12
1,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,...,32.0,852.0,276.87,NaN,*,11.0,None,21.0,522.0,163.02
2,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,30.0,900.0,13195.05,NaN,*,30.0,None,30.0,900.0,13195.05
3,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,13.0,359.0,252.30,NaN,*,NaN,*,NaN,NaN,NaN
4,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,29.0,870.0,10602.62,NaN,*,27.0,None,29.0,870.0,10602.62

In [56]:
frames = [opioid,people]
combo_2 = pd.merge(opioid,people, on ='drug_name', how='inner')
op_df = combo_2.loc[combo_2["opioid_drug_flag"] == 'Y']
op_df_sorted = op_df.sort_values('total_claim_count', ascending = False)
op_df_sorted.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag,npi,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
494858,OXYCODONE HCL,OXYCODONE HCL,Y,N,N,N,1.912012e+09,467.0,4538.0,4538.9,66209.0,81256.66,141.0,None,1402.0,None,1402.9,20646.0,24565.20
288748,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N,1.912012e+09,415.0,3376.0,3376.0,49291.0,45346.03,146.0,None,1051.0,None,1051.0,16086.0,14500.39
496931,OXYCODONE HCL,OXYCODONE HCL,Y,N,N,N,1.861892e+09,387.0,2977.0,2979.0,85191.0,104730.89,116.0,None,909.0,None,911.0,26430.0,34974.41
494743,OXYCODONE HCL,OXYCODONE HCL,Y,N,N,N,1.447608e+09,584.0,2813.0,2813.0,84001.0,91601.73,148.0,None,753.0,None,753.0,22324.0,24143.54
495891,OXYCODONE HCL,OXYCODONE HCL,Y,N,N,N,1.346389e+09,222.0,2478.0,2478.0,59252.0,64897.00,21.0,None,229.0,None,229.0,5902.0,7123.46

In [57]:
combo_3 = pd.merge(combo_2, provider, on = 'npi', how='inner')
combo_3.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag,npi,bene_count,total_claim_count,total_30_day_fill_count,...,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status
0,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.720135e+09,NaN,12.0,12.0,...,1804 STATE ST,None,NASHVILLE,37203,2206,TN,US,Family Practice,S,E
1,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.306887e+09,11.0,85.0,89.0,...,1068 CRESTHAVEN RD,SUITE 250,MEMPHIS,38119,0800,TN,US,Infectious Disease,S,E
2,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.982033e+09,NaN,11.0,11.0,...,615 N STATE OF FRANKLIN RD,None,JOHNSON CITY,37604,8209,TN,US,Nurse Practitioner,S,E
3,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.205820e+09,NaN,64.0,72.0,...,3601 THE VANDERBILT CLINIC,None,NASHVILLE,37232,0001,TN,US,Infectious Disease,S,E
4,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.124292e+09,NaN,15.0,15.0,...,719 THOMPSON LN,SUITE 37189,NASHVILLE,37204,3609,TN,US,Internal Medicine,S,E

In [64]:
combo_4 = pd.merge(combo_3, location, left_on = 'nppes_provider_zip5', right_on = 'zip', how = 'inner')
combo_4_df = combo_4.loc[combo_4['opioid_drug_flag'] == 'Y']
combo_4_df_sorted = combo_4_df.sort_values('total_claim_count', ascending = False)
combo_4_df_sorted.head(15)

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag,npi,bene_count,total_claim_count,total_30_day_fill_count,...,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status,zip,fipscounty,res_ratio,bus_ratio,oth_ratio,tot_ratio
821112,OXYCODONE HCL,OXYCODONE HCL,Y,N,N,N,1.912012e+09,467.0,4538.0,4538.9,...,US,Family Practice,S,E,37841,47151,1.00000,1.000000,1.0,1.000000
479012,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N,1.912012e+09,415.0,3376.0,3376.0,...,US,Family Practice,S,E,37841,47151,1.00000,1.000000,1.0,1.000000
824526,OXYCODONE HCL,OXYCODONE HCL,Y,N,N,N,1.861892e+09,387.0,2977.0,2979.0,...,US,Physician Assistant,S,E,37766,47013,1.00000,1.000000,1.0,1.000000
820911,OXYCODONE HCL,OXYCODONE HCL,Y,N,N,N,1.447608e+09,584.0,2813.0,2813.0,...,US,Nurse Practitioner,S,E,37923,47093,1.00000,1.000000,1.0,1.000000
822808,OXYCODONE HCL,OXYCODONE HCL,Y,N,N,N,1.346389e+09,222.0,2478.0,2478.0,...,US,Internal Medicine,S,E,37042,47125,1.00000,1.000000,1.0,1.000000
824540,OXYCODONE HCL,OXYCODONE HCL,Y,N,N,N,1.891915e+09,432.0,2424.0,2424.0,...,US,Nurse Practitioner,S,E,38555,47035,1.00000,1.000000,1.0,1.000000
479723,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N,1.598747e+09,198.0,2408.0,2408.1,...,US,Family Practice,S,E,37763,47145,1.00000,1.000000,1.0,1.000000
473418,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N,1.649510e+09,608.0,2395.0,2395.3,...,US,Nurse Practitioner,S,E,38120,47157,1.00000,1.000000,1.0,1.000000
485851,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N,1.780011e+09,490.0,2294.0,2294.0,...,US,Physician Assistant,S,E,37404,47065,1.00000,1.000000,1.0,1.000000
486182,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N,1.689846e+09,339.0,2271.0,2273.0,...,US,Nurse Practitioner,S,E,37760,47089,1.00000,1.000000,1.0,1.000000
827234,OXYCODONE-ACETAMINOPHEN,OXYCODONE HCL/ACETAMINOPHEN,Y,N,N,N,1.891915e+09,394.0,2253.0,2253.0,...,US,Nurse Practitioner,S,E,38555,47035,1.00000,1.000000,1.0,1.000000
824206,OXYCODONE HCL,OXYCODONE HCL,Y,N,N,N,1.750579e+09,225.0,2227.0,2228.8,...,US,Nurse Practitioner,S,N,37916,47093,1.00000,1.000000,1.0,1.000000
472129,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N,1.609880e+09,463.0,2173.0,2173.1,...,US,Anesthesiology,S,E,37128,47149,1.00000,1.000000,1.0,1.000000
822065,OXYCODONE HCL,OXYCODONE HCL,Y,N,N,N,1.043532e+09,327.0,2037.0,2037.0,...,US,Nurse Practitioner,S,O,37354,47123,0.98746,0.998551,1.0,0.988536
822064,OXYCODONE HCL,OXYCODONE HCL,Y,N,N,N,1.043532e+09,327.0,2037.0,2037.0,...,US,Nurse Practitioner,S,O,37354,47107,0.01254,0.001449,0.0,0.011464

I found that the highest number of opioid prescription came from 37841 / 37766 / 37923 / 37042 / 38555 / 37763 / 38120 / 37404

In [67]:
### Trying to find the top opioid claim counts in regards to zip code ###

In [69]:
query_5= 'SELECT * FROM fips_county'

In [71]:
with engine.connect() as connection:
    county_df = pd.read_sql(text(query_5), con = connection)
    print(county_df)

         county state fipscounty fipsstate
0       AUTAUGA    AL      01001        01
1       BALDWIN    AL      01003        01
2       BARBOUR    AL      01005        01
3          BIBB    AL      01007        01
4        BLOUNT    AL      01009        01
...         ...   ...        ...       ...
3267    VIEQUES    PR      72147        72
3268   VILLALBA    PR      72149        72
3269    YABUCOA    PR      72151        72
3270      YAUCO    PR      72153        72
3271  STATEWIDE    PR      72990        72

[3272 rows x 4 columns]

In [93]:
combo_5 = pd.merge(combo_4, county_df, on ='fipscounty', how = 'inner')
combo_5_df = combo_5.loc[combo_5['opioid_drug_flag'] == 'Y']
combo_5_df_sorted = combo_5_df.sort_values('total_claim_count', ascending = False) 
combo_5_df_sorted.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag,npi,bene_count,total_claim_count,total_30_day_fill_count,...,medicare_prvdr_enroll_status,zip,fipscounty,res_ratio,bus_ratio,oth_ratio,tot_ratio,county,state,fipsstate
821112,OXYCODONE HCL,OXYCODONE HCL,Y,N,N,N,1.912012e+09,467.0,4538.0,4538.9,...,E,37841,47151,1.0,1.0,1.0,1.0,SCOTT,TN,47
479012,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N,1.912012e+09,415.0,3376.0,3376.0,...,E,37841,47151,1.0,1.0,1.0,1.0,SCOTT,TN,47
824526,OXYCODONE HCL,OXYCODONE HCL,Y,N,N,N,1.861892e+09,387.0,2977.0,2979.0,...,E,37766,47013,1.0,1.0,1.0,1.0,CAMPBELL,TN,47
820911,OXYCODONE HCL,OXYCODONE HCL,Y,N,N,N,1.447608e+09,584.0,2813.0,2813.0,...,E,37923,47093,1.0,1.0,1.0,1.0,KNOX,TN,47
822808,OXYCODONE HCL,OXYCODONE HCL,Y,N,N,N,1.346389e+09,222.0,2478.0,2478.0,...,E,37042,47125,1.0,1.0,1.0,1.0,MONTGOMERY,TN,47

In [75]:
top_comps = pd.merge(opioid, people, on = 'drug_name', how = 'left')
top_comps.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag,npi,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,1ST TIER UNIFINE PENTIPS,"PEN NEEDLE, DIABETIC",N,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1ST TIER UNIFINE PENTIPS PLUS,"PEN NEEDLE, DIABETIC",N,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.720135e+09,NaN,12.0,12.0,360.0,4616.65,NaN,*,12.0,None,12.0,360.0,4616.65
3,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.306887e+09,11.0,85.0,89.0,2670.0,17543.98,0.0,None,0.0,None,0.0,0.0,0.00
4,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.982033e+09,NaN,11.0,11.0,330.0,2700.22,NaN,*,NaN,*,NaN,NaN,NaN

In [85]:
top_group = pd.merge(top_comps, provider, on = 'npi', how = 'left')
top_groups = top_group[['nppes_provider_last_org_name']]
top_groups.head()

  nppes_provider_last_org_name
0                          NaN
1                          NaN
2                        REDDY
3                      LAMOTHE
4                    UNDERWOOD

In [97]:
zippy = pd.merge(top_group, location, left_on = 'nppes_provider_zip5', right_on = 'zip', how = 'left')
zippy.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag,npi,bene_count,total_claim_count,total_30_day_fill_count,...,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status,zip,fipscounty,res_ratio,bus_ratio,oth_ratio,tot_ratio
0,1ST TIER UNIFINE PENTIPS,"PEN NEEDLE, DIABETIC",N,N,N,N,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1ST TIER UNIFINE PENTIPS PLUS,"PEN NEEDLE, DIABETIC",N,N,N,N,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.720135e+09,NaN,12.0,12.0,...,US,Family Practice,S,E,37203,47037,1.000000,1.000000,1.000000,1.000000
3,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.306887e+09,11.0,85.0,89.0,...,US,Infectious Disease,S,E,38119,47157,1.000000,1.000000,1.000000,1.000000
4,ABACAVIR,ABACAVIR SULFATE,N,N,N,N,1.982033e+09,NaN,11.0,11.0,...,US,Nurse Practitioner,S,E,37604,47019,0.006519,0.000867,0.001856,0.005651

In [105]:
zippy_combo = pd.merge(zippy, county_df, on = 'fipscounty', how = 'left') 
zippy_combo_df = zippy_combo.loc[zippy_combo['opioid_drug_flag'] == 'Y']
zippy_combo_df_sorted = zippy_combo_df.sort_values('total_claim_count', ascending = False) 
zippy_combo_df_sorted_companies = zippy_combo_df_sorted['nppes_provider_last_org_name']
zippy_combo_df_sorted_companies.head()

823023     COFFEY
480161     COFFEY
826446     TAYLOR
822822    CATHERS
824723      ORUSA
Name: nppes_provider_last_org_name, dtype: object

In [ ]:
## TOp opiod prescribers // needing the state of Tennessee ##

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python