In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [34]:
#!pip install psycopg2-binary

In [35]:
#!pip install psycopg2

In [36]:
from sqlalchemy import create_engine, text

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [38]:
database_name = 'Prescribers'    # Fill this in with your prescribers database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

Now, we need to create an engine and use it to connect.

In [40]:
engine = create_engine(connection_string)

sqlalchemy works well with pandas to convert query results into dataframes.

In [42]:
import pandas as pd

First, let's write a meaningful query.

In [44]:
prescriber_query = 'SELECT * FROM prescriber'

Now, bring it all together using the following syntax.

In [46]:
with engine.connect() as connection:
    prescriber_df = pd.read_sql(text(prescriber_query), con = connection)

prescriber_df.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243,0001,TN,US,Nurse Practitioner,S,N
1,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,37919,2333,TN,US,Pulmonary Disease,S,E
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,37043,4605,TN,US,Family Practice,S,E
3,1.003014e+09,OTTO,ROBERT,J,M.D.,M,I,2400 PATTERSON STREET SUITE 100,None,NASHVILLE,37203,2786,TN,US,Orthopedic Surgery,S,E
4,1.003018e+09,TODD,JOSHUA,W,M.D.,M,I,1819 W CLINCH AVE,SUITE 108,KNOXVILLE,37916,2435,TN,US,Cardiology,S,E

In [47]:
prescription_query = 'SELECT * FROM prescription'

In [48]:
with engine.connect() as connection:
    prescription_df = pd.read_sql(text(prescription_query), con = connection)

prescription_df.head()

,npi,drug_name,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,1.427076e+09,RALOXIFENE HCL,NaN,18.0,28.0,840.0,1009.66,NaN,*,18.0,None,28.0,840.0,1009.66
1,1.003858e+09,GLIMEPIRIDE,NaN,12.0,16.0,480.0,270.86,NaN,*,NaN,*,NaN,NaN,NaN
2,1.184627e+09,TAMSULOSIN HCL,NaN,14.0,24.0,698.0,353.62,NaN,#,NaN,#,NaN,NaN,NaN
3,1.306111e+09,SPIRIVA,NaN,13.0,13.0,390.0,4783.28,NaN,*,NaN,*,NaN,NaN,NaN
4,1.285658e+09,SPIRIVA,NaN,13.0,13.0,390.0,4855.95,NaN,#,NaN,#,NaN,NaN,NaN

In [49]:
drug_query = 'SELECT * FROM drug'

In [50]:
with engine.connect() as connection:
    drug_df = pd.read_sql(text(drug_query), con = connection)

drug_df.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
0,1ST TIER UNIFINE PENTIPS,"PEN NEEDLE, DIABETIC",N,N,N,N
1,1ST TIER UNIFINE PENTIPS PLUS,"PEN NEEDLE, DIABETIC",N,N,N,N
2,ABACAVIR,ABACAVIR SULFATE,N,N,N,N
3,ABACAVIR-LAMIVUDINE,ABACAVIR SULFATE/LAMIVUDINE,N,N,N,N
4,ABACAVIR-LAMIVUDINE-ZIDOVUDINE,ABACAVIR/LAMIVUDINE/ZIDOVUDINE,N,N,N,N

In [51]:
zip_fips_query = 'SELECT * FROM zip_fips'

In [168]:
with engine.connect() as connection:
    zip_fips_df = pd.read_sql(text(zip_fips_query), con = connection)

zip_fips_df.head()

     zip fipscounty  res_ratio  bus_ratio  oth_ratio  tot_ratio
0  00501      36103   0.000000    1.00000   0.000000   1.000000
1  00601      72113   0.160724    0.20098   0.128834   0.162500
2  00601      72001   0.839276    0.79902   0.871166   0.837500
3  00602      72003   1.000000    0.99880   1.000000   0.999919
4  00602      72005   0.000000    0.00120   0.000000   0.000081

In [53]:
fips_county_query = 'SELECT * FROM fips_county'

In [54]:
with engine.connect() as connection:
    fips_county_df = pd.read_sql(text(fips_county_query), con = connection)

fips_county_df.head()

    county state fipscounty fipsstate
0  AUTAUGA    AL      01001        01
1  BALDWIN    AL      01003        01
2  BARBOUR    AL      01005        01
3     BIBB    AL      01007        01
4   BLOUNT    AL      01009        01

In [284]:
overdose_query = 'SELECT * FROM overdose_deaths'

In [286]:
with engine.connect() as connection:
    overdose_df = pd.read_sql(text(overdose_query), con = connection)

overdose_df.head()

   overdose_deaths  year  fipscounty
0              135  2015       47157
1              150  2016       47157
2              159  2017       47157
3              123  2018       47157
4              122  2015       47093

In [210]:
fips_county_query = 'SELECT * FROM fips_county'

In [212]:
with engine.connect() as connection:
    fips_county_df = pd.read_sql(text(fips_county_query), con = connection)

fips_county_df.head()

    county state fipscounty fipsstate
0  AUTAUGA    AL      01001        01
1  BALDWIN    AL      01003        01
2  BARBOUR    AL      01005        01
3     BIBB    AL      01007        01
4   BLOUNT    AL      01009        01

In [57]:
ppd_df = prescriber_df.merge(prescription_df, on='npi').merge(drug_df,on='drug_name')
ppd_df

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,...,32.0,None,34.0,620.0,383.12,CALCITRIOL,N,N,N,N
1,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,...,11.0,None,21.0,522.0,163.02,ALLOPURINOL,N,N,N,N
2,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,30.0,None,30.0,900.0,13195.05,FLUTICASONE/SALMETEROL,N,N,N,N
3,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,NaN,*,NaN,NaN,NaN,AZITHROMYCIN,N,N,Y,N
4,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,27.0,None,29.0,870.0,10602.62,TIOTROPIUM BROMIDE,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705010,1.992996e+09,GILES,WESLEY,H,MD,M,I,979 E 3RD ST STE 300,None,CHATTANOOGA,...,NaN,#,NaN,NaN,NaN,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N
705011,1.992996e+09,GILES,WESLEY,H,MD,M,I,979 E 3RD ST STE 300,None,CHATTANOOGA,...,89.0,None,97.0,2910.0,1010.50,LEVOTHYROXINE SODIUM,N,N,N,N
705012,1.993000e+09,THOMAS,SHELIA,K,"RN, APN",F,I,6266 POPLAR AVE,None,MEMPHIS,...,19.0,None,19.0,570.0,292.28,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N
705013,1.993000e+09,THOMAS,SHELIA,K,"RN, APN",F,I,6266 POPLAR AVE,None,MEMPHIS,...,0.0,None,0.0,0.0,0.00,OXYCODONE HCL/ACETAMINOPHEN,Y,N,N,N
705014,1.993000e+09,THOMAS,SHELIA,K,"RN, APN",F,I,6266 POPLAR AVE,None,MEMPHIS,...,NaN,*,NaN,NaN,NaN,GABAPENTIN,N,N,N,N

In [58]:
ppd_opioid_df = ppd_df[ppd_df['opioid_drug_flag']=='Y']

In [170]:
zip_fips_df_sorted = zip_fips_df.sort_values("tot_ratio", ascending=False)

In [184]:
zip_fips_df_sorted

         zip fipscounty  res_ratio  bus_ratio  oth_ratio  tot_ratio
0      00501      36103   0.000000   1.000000        0.0   1.000000
33291  58505      38015   0.000000   1.000000        1.0   1.000000
33271  58487      38043   1.000000   1.000000        1.0   1.000000
33272  58488      38043   1.000000   1.000000        1.0   1.000000
33278  58494      38015   1.000000   1.000000        1.0   1.000000
...      ...        ...        ...        ...        ...        ...
14578  29720      45025   0.000000   0.000604        0.0   0.000038
272    00956      72139   0.000040   0.000000        0.0   0.000037
46753  80134      08039   0.000031   0.000000        0.0   0.000028
16349  32162      12069   0.000028   0.000000        0.0   0.000028
4009   11201      36061   0.000000   0.000232        0.0   0.000022

[54181 rows x 6 columns]

In [192]:
zip_fips_df_sorted.nunique()

zip           39461
fipscounty     3227
res_ratio     22017
bus_ratio      6665
oth_ratio      3303
tot_ratio     22266
dtype: int64

In [222]:
zip_fips_df_unique = zip_fips_df_sorted.drop_duplicates(subset='zip', keep='first').reset_index()

In [224]:
zip_fips_df_unique

       index    zip fipscounty  res_ratio  bus_ratio  oth_ratio  tot_ratio
0          0  00501      36103   0.000000   1.000000   0.000000   1.000000
1      33291  58505      38015   0.000000   1.000000   1.000000   1.000000
2      33271  58487      38043   1.000000   1.000000   1.000000   1.000000
3      33272  58488      38043   1.000000   1.000000   1.000000   1.000000
4      33278  58494      38015   1.000000   1.000000   1.000000   1.000000
...      ...    ...        ...        ...        ...        ...        ...
39456  12731  27517      37135   0.343256   0.531106   0.371429   0.354402
39457  29994  53965      55111   0.337337   0.417618   0.484950   0.349800
39458  25050  46574      18141   0.312937   0.724138   0.829268   0.337571
39459  14708  29945      45029   0.321121   0.250000   0.000000   0.317955
39460  11265  24553      51011   0.268750   0.086957   0.000000   0.263692

[39461 rows x 7 columns]

In [228]:
ppdfips_df = pd.merge(ppd_opioid_df, zip_fips_df_sorted, left_on='nppes_provider_zip5', right_on = 'zip', how='left')

In [236]:
ppdfips_df

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag,zip,fipscounty,res_ratio,bus_ratio,oth_ratio,tot_ratio
0,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,...,Y,N,N,N,37043,47125,0.996300,0.998589,1.000000,0.996572
1,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,...,Y,N,N,N,37043,47021,0.003616,0.001411,0.000000,0.003351
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,...,Y,N,N,N,37043,47147,0.000084,0.000000,0.000000,0.000076
3,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,...,Y,N,N,N,37043,47125,0.996300,0.998589,1.000000,0.996572
4,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,...,Y,N,N,N,37043,47021,0.003616,0.001411,0.000000,0.003351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52665,1.992994e+09,CHAKRABORTY,KANISHKA,None,M.D,M,I,1 PROFESSIONAL PARK DR,SUITE 21,JOHNSON CITY,...,Y,N,N,N,37604,47019,0.006519,0.000867,0.001856,0.005651
52666,1.992996e+09,GILES,WESLEY,H,MD,M,I,979 E 3RD ST STE 300,None,CHATTANOOGA,...,Y,N,N,N,37403,47065,1.000000,1.000000,1.000000,1.000000
52667,1.992996e+09,GILES,WESLEY,H,MD,M,I,979 E 3RD ST STE 300,None,CHATTANOOGA,...,Y,N,N,N,37403,47065,1.000000,1.000000,1.000000,1.000000
52668,1.993000e+09,THOMAS,SHELIA,K,"RN, APN",F,I,6266 POPLAR AVE,None,MEMPHIS,...,Y,N,N,N,38119,47157,1.000000,1.000000,1.000000,1.000000
52669,1.993000e+09,THOMAS,SHELIA,K,"RN, APN",F,I,6266 POPLAR AVE,None,MEMPHIS,...,Y,N,N,N,38119,47157,1.000000,1.000000,1.000000,1.000000

In [230]:
ppdfipscounty_df = ppdfips_df.merge(fips_county_df, on='fipscounty', how='left')

In [268]:
opiod_qty_df = ppdfipscounty_df.groupby('county')['opioid_drug_flag'].count()

In [250]:
opiod_qty_df.sort_values(ascending=False)

county
DAVIDSON    4750
KNOX        3776
SHELBY      3646
HAMILTON    2694
SULLIVAN    1691
            ...
GRAINGER      45
DECATUR       44
LAKE           8
TRAVIS         2
BROOKS         1
Name: opioid_drug_flag, Length: 97, dtype: int64

In [272]:
# 2. Who are the top opioid prescibers for the state of Tennessee?

Object `Tennessee` not found.

In [274]:
highest_prescriber_df = ppdfipscounty_df.groupby(['nppes_provider_last_org_name', 'nppes_provider_first_name'])['opioid_drug_flag'].count()

In [278]:
highest_prescriber_df.sort_values(ascending=False)

nppes_provider_last_org_name  nppes_provider_first_name
BATES                         BRITISH                      68
ALEXANDER                     JENNIFER                     64
FORSYTHE                      RACHEL                       63
WHITE                         JONATHAN                     56
MATTHEWS                      WHITNEY                      51
                                                           ..
SHERMAN                       DEBORAH                       1
                              KRISTINE                      1
HARRELL                       CALEB                         1
COLLINS                       MILLARD                       1
CARTER                        JERRY                         1
Name: opioid_drug_flag, Length: 10872, dtype: int64

In [ ]:
# 3. What did the trend in overdose deaths due to opioids look like in Tennessee from 2015 to 2018?

In [302]:
overdose_df['fipscounty'] = ppdfipscounty_df['fipscounty'].astype(object)

In [306]:
overdose_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   overdose_deaths  380 non-null    int64
 1   year             380 non-null    int64
 2   fipscounty       380 non-null    object
dtypes: int64(2), object(1)
memory usage: 9.0+ KB

In [310]:
ppdfc_overdose_df = ppdfipscounty_df.merge(overdose_df, on='fipscounty', how='left')

In [312]:
ppdfc_overdose_df

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,fipscounty,res_ratio,bus_ratio,oth_ratio,tot_ratio,county,state,fipsstate,overdose_deaths,year
0,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,...,47125,0.9963,0.998589,1.0,0.996572,MONTGOMERY,TN,47,135.0,2015.0
1,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,...,47125,0.9963,0.998589,1.0,0.996572,MONTGOMERY,TN,47,123.0,2018.0
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,...,47125,0.9963,0.998589,1.0,0.996572,MONTGOMERY,TN,47,196.0,2017.0
3,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,...,47125,0.9963,0.998589,1.0,0.996572,MONTGOMERY,TN,47,178.0,2016.0
4,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,...,47125,0.9963,0.998589,1.0,0.996572,MONTGOMERY,TN,47,44.0,2015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668072,1.993000e+09,THOMAS,SHELIA,K,"RN, APN",F,I,6266 POPLAR AVE,None,MEMPHIS,...,47157,1.0000,1.000000,1.0,1.000000,SHELBY,TN,47,2.0,2017.0
668073,1.993000e+09,THOMAS,SHELIA,K,"RN, APN",F,I,6266 POPLAR AVE,None,MEMPHIS,...,47157,1.0000,1.000000,1.0,1.000000,SHELBY,TN,47,0.0,2018.0
668074,1.993000e+09,THOMAS,SHELIA,K,"RN, APN",F,I,6266 POPLAR AVE,None,MEMPHIS,...,47157,1.0000,1.000000,1.0,1.000000,SHELBY,TN,47,0.0,2015.0
668075,1.993000e+09,THOMAS,SHELIA,K,"RN, APN",F,I,6266 POPLAR AVE,None,MEMPHIS,...,47157,1.0000,1.000000,1.0,1.000000,SHELBY,TN,47,0.0,2016.0
668076,1.993000e+09,THOMAS,SHELIA,K,"RN, APN",F,I,6266 POPLAR AVE,None,MEMPHIS,...,47157,1.0000,1.000000,1.0,1.000000,SHELBY,TN,47,2.0,2017.0

In [ ]:
# 4. Is there an association between rates of opioid prescriptions and overdose deaths by county?

In [ ]:
# 5. Is there any association between a particular type of opioid and number of overdose deaths?

For much more information about SQLAlchemy and to see a more â€œPythonicâ€ way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python